* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {

    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    background: #F15B22;
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-secondary {
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    background: white;
    color: #F15B22;
    border: none;
    border-radius: 5px;
}

.title {
    font-weight: 700;
    font-size: 40px;
    color: black;
}

.description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

/* header styles */
header {
    height: 100vh;
    background: url(images/banner/banner1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.head-section {
    width: 525px;
    text-align: right;
    float: right;
    margin-top: 160px;
    margin-right: 230px;
}

.head-section h1 {
    font-weight: 700;
    font-size: 65px;
    color: #151414;

}

.head-section p {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 32px;
}

/* my failures styles */
.my-failures {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
    margin-bottom: 130px;
}

.checkbox {
    height: 400px;
    width: 300px;
    margin-top: 300px;
    text-align: left;
}

.checkbox p {
    margin-top: 24px;
    margin-bottom: 16px;
}

ul {
    list-style: none;
}

.check-icon {
    height: 20px;
    width: 20px;
}

/* my plans styles */
.my-plans {
    text-align: center;
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 130px;
}

.my-plans h2 {
    margin-bottom: 30px;
}

.plans {
    display: flex;
    justify-content: center;
    gap: 130px;
}

.plans p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.plans h3 {
    margin-top: 10px;
}

/* gradient styles */
.gradient {
    height: 250px;
    border-radius: 6px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 130px;
    background-image: url(images/watch.png),
        linear-gradient(90deg, #c7601b 0%, rgba(0, 95, 172, 0) 100%);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

.gradient div {
    padding-left: 40px;
    padding-top: 40px;
    width: 500px;
}

.gradient h2 {
    color: aliceblue;
    margin-bottom: 10px;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    gap: 400px;
    background-color: #151414;
    height: 500px;
    margin-bottom: 0px;
}

footer h3,
h2,
p {
    color: white;
}

.future {
    height: 400px;
    width: 300px;
    padding-top: 80px;
}

.future h2 {
    font-weight: 700;
    font-size: 40px;
}

.future p {
    font-weight: 400;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.future img {
    padding-right: 10px;
}

.subscribe {
    height: 300px;
    width: 200px;
    margin-top: 80px;
}

.subscribe input[type=email] {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 200px;
    background-color: #151414;
    border: 1px solid white;
    border-radius: 5px;
}